<h>Товары:</h1>

<table>
  <thead>
    <tr>
      <th>Название</th>
      <th>Аббревиатура</th>
      <th>Категория</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @products.each do |product| %>
      <tr>
        <td><%= product.name %></td>
        <td><%= product.abbr %></td>
        <td><%= link_to product.category.name, product.category if product.category%></td>
        <td><%= link_to image_tag("show.png"), product %></td>
        <td><%= link_to image_tag("edit.png"), edit_product_path(product) %></td>
        <td><%= link_to image_tag("destroy.png"), product, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to image_tag("new.png"), new_product_path %>
