<!DOCTYPE html>
<html>
<head>
  <title>Padavan_catalog</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<table>
<tr>
<td>
<%= yield %>
<td id = 'x'>
<% if member_signed_in? %>
<h3>you have succesfully signed in</h3>
<%= link_to "Sign Out", destroy_member_session_path, :method => :delete %>

<% else %>

  <h1> welcom to rails community</h1>
  <%= link_to "Sign In", new_member_session_path, :method => :get %>
  <%= link_to "Sign up", new_member_registration_path, :method => :get %>

<% end %>
</td>
</tr>
</body>
</html>
